body,
html {
    height: 100%;
}

@font-face {
    font-family: AvertaRegular;
    src: url("../fonts/Averta-Regular.otf");
  }

  @font-face {
    font-family: AvertaBold;
    src: url("../fonts/Averta-Bold.otf");
  }

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
}


#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

#images {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center center;
    background-attachment: fixed;

}

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    font-family: AvertaRegular;
}

#demo {
    width: 300px;
    min-height: 10px;
    margin: 20px auto;
    border-style: groove;
    border-radius: 25px;
    border-color: white;
    border-spacing: 10px;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: AvertaRegular;    
}


/* Popup container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 400%;
    margin-left: -80px;
}


/* Popup arrow */


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.datetime {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    font-family: AvertaBold;
}

.object {
    width: 90px;
    height: 130px;
    background: rgba(0, 0, 0, 0.3);
}
.object-description{
    font-size: 16px;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.5);
}
/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}